# GitHub Actions - CI for Go to build & test.  See ci-go-cover.yml and linters.yml for code coverage and linters.
# Taken from: https://github.com/fxamacker/cbor/workflows/ci.yml (thanks!)
name: integration-tests
on: [push, pull_request]
jobs:

  # Test on various OS with specified Go version.
  tests:
    name: ubuntu-latest
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-go@v5
      with:
        go-version: "1.25.1"
    - name: Install jq
      run:
        sudo apt-get install --yes jq
    - name: Install Docker
      run: |
        curl -fsSL https://get.docker.com | sh
        sudo usermod -aG docker $USER
        sudo systemctl restart docker
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 1
    - name: Build project
      run: make
    - name: Run tests
      run: |
        make integ-test
